.node {
  width: 27px;
  height: 27px;
  border: 1px solid  #242526;
  background-color: #484a4d;

}

.node-start svg{
    fill: var(#242526);
    width: auto;
    height: auto;
    
    justify-content: center;
    align-content: center;
    align-items: center;
}
.node-end svg{
  fill: var(#242526);
  width: auto;
  height: auto;
  
  justify-content: center;
  align-content: center;
  align-items: center;
}
.isWall svg{
  fill: var(#242526);
  width: 27px;
  height: 27px;
  
  justify-content: center;
  align-content: center;
  align-items: center;
}
/*need to make sure size stays the same*/
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 10%;
  }

  50% {
    background-color: #cccccc;
  }

  75% {
    transform: scale(1.2);
    background-color: #821122;
  }

  100% {
    transform: scale(1);
    background-color: #561420;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #FE5800;
  }

  50% {
    transform: scale(1.2);
    background-color: #FE5800;
  }

  100% {
    transform: scale(1);
    background-color: #FE5800;
  }
}
/*aquamarine;*/